/* For extra small devices */
@media screen and (min-width: 0px) and (max-width: 600px){
    
}

/* For small devices */
@media screen and (max-width: 767px){
    /* Top Menu and border-bottom: ; */
   /* .top_menu, #border-bottom{
        display: none;
    }*/
    /* Nav bar */
    /*nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    nav #elements{
        display: none;
    }*/
    /* Logo */
   /* .logo{
        width: 70px;
        height: 45px !important;
        margin-top: 11px;
    }*/
    /* Menu Icon */
    /*.menu-icon{
        float: right;
        display: inline;
        margin-top: 15px;
        margin-right: 10px;
        font-size: 25px;
    }*/
    /* block */
    /*.block{
        position: absolute;
        display: block;
        background-color: rgb(250, 249, 249);
        top: 50px;
        width: 100%;
    }
    
    .block li {
        list-style-type: none;
        padding: 4px;
    }
    
    .block li a{
        text-decoration: none;
        color: #707070;
        
    }*/
    h2 {
        text-align: center;
    }
    #Demanderdevis {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-direction: column;
    }
    section{
        margin: auto;
        width: 90%;
    }
    .form_devis {
        width: 100%;
    }
    .form_devis form {
	    width: 100% !important;
	    /*background-color: yellow;*/
	}
    .img_promo {
        margin: auto;
        width: 70%;
    }




    /* la page service**/
    .Services_en_Vedette {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    
    .Services_en_Vedette figure {
         width: 100%;
    }
    h2{
        text-align: center;
    }
    .Services_en_Vedette img {
        width: 90%;
    }
    .Services_en_Vedette figcaption {
        color: #38ada9;
        text-align: center;
    }
    .Comment_Nous_Travaillons {
        flex-direction: column;
    }
    
    .Comment_Nous_Travaillons figure {
        width: 90%;
        margin: auto;
    }
    figcaption {
        text-align: center;
    }
    
    /** Footer **/
    .f_iteams1 {
        width: 100%;
    }
    .f_iteams {
        width: 100%;
        text-align: center;
    }
    footer{
        flex-direction: column;
    }
    .img_promo {
	    
	    width: 100% !important;
	    /*background-color: white;*/
	    /*margin: auto;*/
	}
    .img_promo img {
	    
	    /*padding: auto !important;*/
	    margin-left: 0% !important;
	    float: none;
	}
}

/* For medium devices */
@media screen and (min-width: 768px) and (max-width: 992px){
    
}

/* For large devices */
@media screen and (min-width: 993px) and (max-width: 1200px){
    
}

/* For extra large devices */
@media screen and (min-width: 1201px){

}
@media screen and (max-width: 1790px){
	.form_devis form {
    /*margin: 0% 34% 0% 1% !important;*/
    /*margin: auto !important;*/
    margin-left: 5%;
}
@media screen and (max-width: 1560px){
	.form_devis form {
    /*margin: 0% 34% 0% 1% !important;*/
    /*margin: auto !important;*/
    margin-left: 6%;
}
@media screen and (max-width: 1530px){
	.form_devis form {
    /*margin: 0% 34% 0% 1% !important;*/
    /*margin: auto !important;*/
    margin-left: 7%;
}
@media screen and (max-width: 1500px){
	.form_devis form {
    /*margin: 0% 34% 0% 1% !important;*/
    /*margin: auto !important;*/
    margin-left: 8%;
}
@media screen and (max-width: 1450px){
	.form_devis form {
    /*margin: 0% 34% 0% 1% !important;*/
    /*margin: auto !important;*/
    margin-left: 9%;
}
@media screen and (max-width: 1415px){
	.form_devis form {
    /*margin: 0% 34% 0% 1% !important;*/
    /*margin: auto !important;*/
    margin-left: 10%;
}
@media screen and (max-width: 1400px){
	.form_devis form {
    /*margin: 0% 34% 0% 1% !important;*/
    /*margin: auto !important;*/
    margin-left: 11%;
}
@media screen and (max-width: 1220px){
	.form_devis form {
    /*margin: 0% 34% 0% 1% !important;*/
    /*margin: auto !important;*/
    /*margin-left: 0%;*/
}
@media screen and (max-width: 1245px){
	.form_devis form {
    /*margin: 0% 34% 0% 1% !important;*/
    margin: auto !important;
    /*margin-right: 60%;*/
}

}