/* reset default values */
*{
    margin: 0px;
    padding: 0px;
}
/* For extra small devices */
@media screen and (min-width: 0px) and (max-width: 600px){
    
}

/* For small devices */
@media screen and (min-width: 601px) and (max-width: 767px){
    
}

/* For medium devices */
@media screen and (min-width: 768px) and (max-width: 992px){
    
}

/* For large devices */
@media screen and (max-width: 1200px){
    /* Header */
    .header{
        border-bottom: none;
        display: none;
    }
    .header ul li{
        display: none;
    }
    .menu{
        border-bottom: 1px solid black;
    }
    /* Nav bar */
    .home, .aboutUs, .pricing,.contact,  
    .services, .ourWorks, .blog,  .requestAQuote{
        display: none;
    }
    .logo{
        position: absolute;
        left: -350px;
        top: -15px;
    }
    /* Menu Icon */
    .menu-icon{
        position: absolute;
        right: 10px;
        display: inline;
        top: 20px;
        font-size: 25px;
    }
}

/* For extra large devices */
@media screen and (min-width: 1201px){
    
}