/* Reset default values */
* {
    margin: 0px;
    padding: 0px;
}

/* ####################  Header ####################  */
.header{
    border-bottom: 1px solid #E2E2E2;
}
/* Header ul */
.header ul{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

/* Header ul li */
.header ul li{
    list-style-type: none;
}

/* Header ul li span */
.header ul li span{
    color: #38ADA9;
}

/* #################### Nav Bar ####################  */
nav ul {
    display: flex;
    justify-content: space-evenly;
}

/* Logo */
nav .logo{
    position: absolute;
    width: 70px;
    left: -240px;
    top: -20px;
}
/* nav ul li */
nav ul li{
    list-style-type: none;
    position: relative;
}

/* home, About Us,pricing ,services, our Works, blog,  request A Quote */
.home,.aboutUs,.pricing,.contact,.logo,  .services, .ourWorks, .blog,  .requestAQuote{
    padding: 30px;
}



/* nav ul li a */
nav ul li a{
    text-decoration: none;
    color: #707070;
}
/* nav ul li .pricing */
nav ul li .pricing{
    color: #38ADA9;
}
/* nav ul li a button*/
nav ul li a button{
    background-color: #38ADA9;
    color: white;
    border-radius: 60px;
    padding: 8px;
    border: 1px solid #38ADA9;
    margin-top: -10px;
}

/* Menu Icon */
.menu-icon{
    display: none;
    margin-right: 15px;
}