*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    margin: 0px;
    padding-left: 0px;
}

/* Top Menu */
.top_menu {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    justify-content: space-around;
}

/* Border Under Top Menu */
#border-bottom{
    border-bottom: 1px solid;
    color: #DEDEDE;
    width: 100%;
    margin-left: -8px;
}

/* Logo */
img.logo {
    height: 70px;
}

/* Email */
#info #email{
    color: #38ADA9;
}
/* Welcome and Info*/
.top_menu #Welcome, #info li{
    color: #7C7C7C;
    font-family: 'Poppins', Arial, Helvetica;
    font-size: 13px;
    font-style: normal;

}


/* Elements */
#elements li {
    display: inline-block;
    margin: 2%;
    text-align: center;
}

/* Nav Bar */
nav {
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%;
    text-align: center;
}

ul#elements {
    width: 100%;
}

#elements a {
    text-decoration: none;
    color: #707070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}



#info li {
    display: inline-block;
    margin-right: 11px;
}

.requestAQuote button {
    border-radius: 35px;
    width: 149px;
    height: 44px;
    border: none;
    background-color: #38ADA9;
    color: white;
    font-weight: bold;
}

/* Menu Icon */
.menu-icon{
    color: black;
    display: none;
}

/* Active Element */
.active{
    color: #38ADA9 !important;
}

/* Mobile Menu */
#mobile-menu{
    display: none;
    margin-top: -1px;
}

/* ############# Blog Section ############# */
#blog-blogPagediv{
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
}

#blog-blogPage{
    font-family: Poppins Medium;
    color: #38ADA9;
    font-size: 36px;
    text-align: center;
}

.blog-image{
    width: 95%;
    height: 380px;
    margin-left: 40px;
}

.blog-image img{
    width: 100%;
    height: 380px;
}

.blog-section{
    width: 95%;
    margin-left: 40px;
}

.blog-section div{
    margin-left: 17px;
}

.blog-section h3{
    color: #38ADA9;
}

.blog-section p{
    color: #707070;
}

.blog-section a {
    color: #1E3B87;
    text-decoration: none;
}

/* ############# A Propos de nous Section ############# */


.propos-section-2 p{
    font-size: 14px !important;
    margin-top: -7px;
}


.propos-section .propos-section-1{
    float: left;
    width: 48%;
}
.propos-section-1 img{
    width: 100%;
    height: 450px;
}
.propos-section .propos-section-2{
    width: 48%;
    float: left;
    margin-left: 23px;
    height: 460px;
}

.propos-section div h3{
    color: #38ADA9;
    font-style: 'Poppins';
    font-size: 3vh;
}

.propos-section div p{
    color: #3E3E3E;
    font-family: 'Poppins';
    font-size: 2.5vh;
    
}

/* ############# Prix Section ############# */
.cards-title{
    color: #38ADA9;
    text-align: center;
    font-size: 2vw;
}

.cards {
    margin-left: 45px;
    height: 400px;
}

.card-1, .card-2, .card-3, .card-4{
    display: inline-block;
    float: left;
    width: 22%;
    margin: 5px;
}

.card-1 i, .card-2 i, .card-4 i{
    position: relative;
    left: 50%;
    padding-top: 20px;
    transform: translate(-50%);
    color: #38ADA9;
    font-size: 20px;
}

.card-3 img{
    position: relative;
    left: 50%;
    padding-top: 7px;
    transform: translate(-50%);    
}

.card-1:hover, .card-2:hover, .card-3:hover, .card-4:hover{
    border: 1px solid #38ADA9 !important;
}
.cards .type-nettyage{
    color: #38ADA9;
    text-align: center;
    position: relative;
    font-family: 'Poppins light';
    font-size: 15px;
}

.card-prix{
    font-family: 'Poppins light', sans-serif;
    font-size: 30px;
    color: #7C7C7C;
}

.cards p, .cards h2{
    text-align: center;
}

.cards p{
    color: #7C7C7C;
    font-family: 'Poppins light';
    font-size: 14px;
}

.cards button{
    width: 100%;
    padding: 14px;
    background-color: #38ADA9;
    border: none;
    color: white;
}

.card-1, .card-2, .card-3, .card-4{
    border: 1px solid #EFEFEF;
}


/* Footer */
footer{
    width: 100%;
    /* position: relative; */
    bottom: 0;
}

footer div a , footer div h3, footer div address{
    display: block;
    text-align: left;
    text-align: center;
    font-family: 'Poppins' light;
}
footer div p{
    line-height: 1.6;
    font-family: 'Poppins' light;
    font-size: 13px;
}
footer div h3{
    color: #5C5C5C;
    font-family: 'Poppins' light;
    font-size: 13px;
}

footer div a {
    text-decoration: none;
    font-family: 'Poppins';
    color: #3E3E3E;
    font-size: 12px;
    line-height: 2;
}

footer div address{
    line-height: 1.7;
    font-family: 'Poppins';
    font-size: 12px;
}

footer .icons a i{
    color: #38ada9;
    padding-top: 10px;
    margin-right: 10px;
    float: left;
    padding-left: 10px;
}

footer .icons {
    display: flex;
    justify-content: center;
}

.footer-propos, .footer-apercu, .footer-services, 
.footer-contactez-nous{
    width: 25%;
    float: left;
    background-color:#FAFAFA;
    height: 280px;
    padding-top: 20px;
    padding-left: 20px;
}